.talk.clearfix
  .left
    = render partial: 'profile_box', locals: { profile: talk.presenter }
    = render partial: 'profile_box', locals: { profile: talk.co_presenter } if talk.co_presenter
  .right
    %h3.title
      = talk.title
    .details.right-text
      - if talk.date
        = date_format(talk.date)
      - else
        'TBC'
    .details
      = talk.description
    .details
      %dl
        %dt Who should attend?
        %dd 
          = talk.attend
      
        %dt What can we expect to get from this talk?
        %dd 
          = talk.expect

        %dt What should we do to prepare for this talk?
        %dd 
          = talk.prepare

    .details.attendees
      - if talk.attendees.count > 1
        = pluralize(talk.attendees.count, 'Person') 
        will be attending
      - else 
        = link_to "Be the first to sign up", '#', class: 'btn btn-info' unless talk.presenter == current_user

      - if current_user.is_attending?(talk)
        = link_to "I won't be attending"
      - elsif current_user != talk.presenter 
        = link_to "I plan on attending"
      = render partial: 'attendee', collection: talk.attendees

    - if current_user == talk.presenter
      .details.right-text
        = link_to 'Edit Talk', edit_talk_path(talk)
        |
        = link_to 'Destroy Talk', talk, :confirm => 'Are you sure?', :method => :delete




