.talk.clearfix
  .span6
    .clearfix
      = render partial: 'profile_box', locals: { profile: talk.presenter }
      = render partial: 'profile_box', locals: { profile: talk.co_presenter } if talk.co_presenter
    - if current_user != talk.presenter || current_user != talk.co_presenter
      .details.attendance
        - if current_user.is_attending?(talk)
          = link_to "I won't be attending", attendance_path(1, talk_id: talk.id), data: {method: :delete}, class: 'btn btn-danger'
        - else
          - btxt = talk.attendees.count > 0 ? 'I plan on attending' : 'Be the first to sign up'
          = link_to btxt, attendances_path(talk_id: talk.id), data: {method: :post}, class: 'btn btn-success'
      .details.attendees
        %dl
          %dt Attendees
          %dd
            - if talk.attendees.count > 0
              %p{style: 'margin:0;'}
                = pluralize(talk.attendees.count, 'person') 
                will be attending
              .clearfix
              %p.list
                - attendees = talk.attendees.collect(&:first_name).sort
                - attendees.each do |attendee|
                  %strong
                    = attendee
                  - unless attendee == attendees.last
                    %span
                      |
            - else
              %p{style: 'margin:0'} No attendees yet

  .span6
    %h3.title
      = talk.title
    %div{class: "details date right-text right #{'future' if talk.date && talk.date > 1.day.ago.to_date}" }
      - if talk.date
        = date_format(talk.date)
      - else
        Talk date
        %em TBC
    .clearfix
    .details
      = simple_format talk.description
      - if talk.slides_url
        %p
          = link_to content_tag(:i, '', class:'icon-picture') + ' View Slides'.html_safe, talk.slides_url, class: 'btn'
      - if talk.blog_post_url
        %p
          = link_to content_tag(:i, '', class:'icon-file') + ' View Blog Post'.html_safe, talk.blog_post_url, class: 'btn'

    .details
      %dl
        %dt Who should attend?
        %dd 
          = talk.attend
      
        %dt What can we expect to get from this talk?
        %dd 
          = talk.expect

        %dt What should we do to prepare for this talk?
        %dd 
          = talk.prepare


    - if current_user == talk.presenter
      .details.right-text
        = link_to 'Post to RubyDev', post_to_ruby_dev(talk), class: 'btn'
        = link_to 'Edit Talk', edit_talk_path(talk)
        |
        = link_to 'Destroy Talk', talk, :confirm => 'Are you sure?', :method => :delete




