.span8
  - if talks_scope == 'All'
    %h1 All Talks
  - elsif talks_scope == 'To Be Decided'
    %h1 Unscheduled Talks
  - elsif talks_scope == 'My Talks'
    %h1 My Talks
  - else
    %h1 Recent Talks

  = render 'pagination_links'

  - if @talks.empty?
    %h2 
      No Talks scheduled for dates &middot;  
      %span{style: 'font-weight:normal;color:#666'}
        = talks_scope

  - @talks.group_by(&:date).each do |date, talks|
    %h2
      = pluralize(talks.count, 'Talk')
      - if date
        for
        = date_format date
      - else
        still to be scheduled
    = render talks

  = render 'pagination_links' unless @talks.empty?
 
.span4
  %p.right-text
    = link_to 'Submit a Talk', new_talk_path, class: 'btn btn-primary btn-large', style: 'font-size:20px;margin-top:17px;'

