.span8
  - if params[:scope] && params[:scope] == 'all'
    %h1 All Talks
  - elsif params[:scope] && params[:scope] == 'tbc'
    %h1 Unscheduled Talks
  - else
    %h1 Recent Talks

  = render 'pagination_links'

  - @talks.group_by(&:date).each do |date, talks|
    %h2
      = pluralize(talks.count, 'Talk')
      - if date
        for
        = date_format date
      - else
        still to be scheduled
    = render talks

  = render 'pagination_links'
 
.span4
  %p.right-text
    = link_to 'Submit a Talk', new_talk_path, class: 'btn btn-primary btn-large', style: 'font-size:20px;'

