= link_to "Design Reviews", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li{class: ('active' if controller.controller_name == 'talks' && %w(new edit).include?(controller.action_name))}
      = link_to 'Submit a Talk', new_talk_path
    %li{class: ('active' if controller.controller_name == 'talks' && %w(index show).include?(controller.action_name))}
      = link_to 'View Talks', talks_path

    %li
      = link_to('Sign out', destroy_user_session_path, :method=>'delete')
  - else
    %li
      - if Rails.env.production?
        = link_to('Sign in', '/users/auth/yammer')
      - else
        = link_to('Sign in', new_user_session_path)

  - if user_signed_in? && current_user.has_role?(:admin)
    %li
      = link_to('Admin', users_path)
